.moviesList {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: 0;
  padding: 40px;
  list-style: none;
  text-decoration: none;
}
.movieItem {
}
.movieLink {
  display: block;
  text-decoration: none;
  color: #4d3045;
  font-size: 15px;
  font-weight: 600;
  width: 250px;
  height: 440px;
  border-radius: 2px;
}
.movieLink:hover,
.movieLink:focus {
  box-shadow: 0px 14px 17px 2px rgba(110, 66, 92, 0.63);
  transition: 0.4s linear;
}
.movieTitle {
  margin: 7px;
}
.movieImg {
  border-radius: 2px;
}
